<div class="row">
    <div class="col-xs-12">
        <div class="container-fluid">
            <div class="panel">
                <!--TODO: Replace-->
                <img src="{{LOGO_URL}}" class="logo-large"/>
                <h1>Speak Now</h1>
                <h4><em>Speak Now</em> is a social network which is centered around sound rather than text</h4>
                <div class="well" style="display: inline-block">
                    <p>I am not the kind of app<br>That could be just as cool as Facebook on every occasion<br>But you
                        are not the kind of boy<br>Who should be using only cool apps</p>
                </div>
                <br>
                <button md-raised-button class="btn btn-raised btn-custom" (click)="loginWithGoogle()">Login With
                    Google
                </button>
            </div>
        </div>
    </div>
</div>
