<div class="row">
    <div class="col-xs-12">
        <div class="container-fluid">
            <div class="panel">
                <!--TODO: Replace-->
                <img src="{{LOGO_URL}}" class="logo-large"/>
                <h1>Speak Now</h1>
                <p>I am not the kind of app that could be just as cool as Facebook on every occasion, but you are not the kind of boy that should be only using cool apps.</p>
                <b>Made with ♥ by Deb Banerji</b>
                <br>
                <button md-raised-button class="btn btn-raised btn-custom" (click)="loginWithGoogle()">Login With Google</button>
            </div>
        </div>
    </div>
</div>
