<app-nav-bar></app-nav-bar>
<div class="row">
    <div class="col-xs-12">
        <div class="container-fluid">
            <div class="panel" style="text-align: center">
                <h1>Speak Now</h1>
                <h4><em>Speak Now</em> is a social network which is centered around sound rather than text</h4>
                <div class="well" style="display: inline-block">
                    <p>I am not the kind of app<br>That could be just as cool as Facebook on every occasion<br>But you
                        are not the kind of boy<br>Who should be using only cool apps</p>
                </div>
                <br>                <br>
                <span>The name, logo and tagline were <del>stolen from</del> inspired by the Taylor Swift song and album of the same name</span>
                <br>
                <br>
                <span>Idea by Griffin Dufek (except for the strange name and the nonsense theme - he doesn't know about that stuff)</span>
                <br>
                <br>
                <iframe src="https://open.spotify.com/embed?uri=spotify:track:24DefNCFiWTP8OjYWiXuYe&theme=white" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
            </div>
        </div>
    </div>
</div>

