<app-nav-bar></app-nav-bar>
<div class="row">
    <div class="col-xs-12">
        <div class="container-fluid">
            <div class="panel" style="text-align: center">
                <h1>Speak Now</h1>
                <h3><em>Speak Now</em> is a social network which is centered around sound rather than text</h3>
                <p>Idea by Griffin Dufek</p>
                <p><em>Speak Now</em> is <a href="https://github.com/debkbanerji/speak-now">Open Source</a></p>
            </div>
            <div class="panel" style="text-align: center">
                <br>
                <div class="well" style="display: inline-block">
                    <span>I am not the kind of app<br>That could be just as cool as Facebook on every occasion<br>But you
                        are not the kind of boy<br>Who should be using only cool apps</span>
                </div>
                <br>
                <p>The name, color scheme and tagline were
                    <del>stolen from</del>
                    inspired by the 2010 Taylor Swift song and album of the same name
                </p>
                <iframe src="https://open.spotify.com/embed?uri=spotify:track:24DefNCFiWTP8OjYWiXuYe&theme=white"
                        width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
            </div>
        </div>
    </div>
</div>

