<app-nav-bar></app-nav-bar>
<div class="row">
    <div *ngIf="friendDisplayName" class="col-xs-12">
        <div class="container-fluid">
            <div class="panel" style="white-space:nowrap">
                <img src="{{friendPhotoURL}}" class="img-circle friend-photo">
                <h3 class="friend-name">{{friendDisplayName}}</h3>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="container-fluid">
            <div *ngIf="!shouldDeleteOldMessages" class="panel">
                <button md-raised-button *ngIf="canLoadMoreData" id="load-more-messages" class="btn btn-custom"
                        (click)="tryToLoadMoreData()">
                    Show More Messages
                </button>
                <h4 id="no-more-messages-text" *ngIf="!canLoadMoreData">Showing All Messages</h4>
            </div>
            <div *ngIf="(messageListArray | async)?.length > 0">
                <div *ngFor="let message of messageListArray | async | orderBy: 'post-time'">
                    <!--<p [ngClass]="{'user-message': message['poster-uid'] === userUID,'friend-message': !(message['poster-uid'] === userUID)}">-->
                    <!--{{message['text']}}-->
                    <!--</p>-->
                    <div class="panel message-panel">
                        <span *ngIf="message['poster-uid'] === userUID" class="small-circle-profile-img"><img
                            src="{{userPhotoURL}}"
                            class="img-circle friend-photo"></span>
                        <span *ngIf="message['poster-uid'] !== userUID" class="small-circle-profile-img"><img
                            src="{{friendPhotoURL}}"
                            class="img-circle friend-photo"></span>

                        <audio controls *ngIf="message['audio-url']">
                            <source src="{{message['audio-url']}}" type="audio/wav">
                            Your browser does not support the audio element.
                        </audio>
                        <div class=timestamp-frame>
                            <b class="message-timestamp">{{formatTimeStamp(message['post-time'])}}</b>
                        </div>
                        <div *ngIf="message['spotify-song-id']" style="padding-top: 10px">
                            <iframe [src]="(message['spotify-song-id'] | spotifyLink)"
                                    width="300" height="100" frameborder="0" allowtransparency="true"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="container-fluid">
            <div class="panel" [hidden]="!isLoading">
                <h2>Uploading...</h2>
            </div>
            <div class="panel" [hidden]="canRecord">
                <h5>
                    {{cantRecordText}}
                </h5>
            </div>
            <div class="panel" [hidden]="isLoading || !canRecord">
                <form #f="ngForm" novalidate>
                    <!--<div class="form-group">-->
                    <div class="input-group">
                        <!--<md-input-container>-->
                        <!--<input name="text" ngModel mdInput required #first="ngModel" placeholder="Type a message"-->
                        <!--class="form-control">-->
                        <!--</md-input-container>-->
                        <button md-raised-button class="btn btn-raised btn-custom" *ngIf="!isRecording"
                                style="height: 46px"
                                (click)="startRecoding()">Start Recording
                        </button>
                        <button md-raised-button class="btn btn-raised btn-custom" *ngIf="isRecording"
                                style="height: 46px"
                                (click)="finishRecording()">Stop Recording
                        </button>
                        <span *ngIf="isRecording" class="glyphicon glyphicon-record" style="padding-left: 5px"></span>
                        <br>
                        <span *ngIf="recordingTimeText">
                            <b>{{recordingTimeText}}</b>
                            <br>
                        </span>
                        <span class="input-group-btn">
                            <button md-raised-button class="btn btn-sm btn-raised btn-custom"
                                    (click)="sendTextMessage(f)"><span class="glyphicon glyphicon-send"></span>
                            </button>
                        </span>
                    </div>
                </form>
                <div class="input-group" [hidden]="isLoading">
                    <md-input-container>
                        <input name="spotifyLink" [(ngModel)]="spotifyLink" mdInput placeholder="Spotify Link"
                               class="form-control">
                    </md-input-container>
                    <div *ngIf="(spotifyLink | spotify)">
                        <iframe [src]="((spotifyLink | spotify) | spotifyLink)"
                                width="300" height="100" frameborder="0" allowtransparency="true"></iframe>
                    </div>
                    <span class="input-group-btn" *ngIf="spotifyLink | spotify">
                            <button md-raised-button class="btn btn-sm btn-raised btn-custom"
                                    (click)="sendSpotifyMessage(spotifyLink)"><span class="glyphicon glyphicon-send"></span>
                            </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
