.panel {
    padding: 5px;
    text-align: center;
    align-content: center;
}

.user-data {
    margin: 2px;
}

.user-photo {
    border-radius: 50%;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*.user-photo-panel {*/
/*display: inline-block;*/
/*padding: 10px;*/
/*}*/
